---
import Cover from "@/components/tenant/cover.astro";
import Icon from "@/components/tenant/icon.astro";
import type { SelectPages } from "@/db/schema";
import Layout from "@/layouts/tenant.astro";
import * as marked from "marked";
import Navigate from "../navigate.astro";

interface Props extends SelectPages {}

const page = Astro.props;

const mdContent = await marked.parse(page.content ?? "");
page.content = mdContent;
---

<Layout 
	title={page.name} 
	theme={page.theme}
>
	<Cover coverId={page.coverId}/>
	<div class="container">
		<div
			class:list={["flex flex-row items-center gap-4", page.coverId ? "-mt-8" : ""]}
		>
			<Icon
				logoId={page.logoId}
				name={page.name}
			/>
			<h1
				class="text-5xl md:text-7xl font-bold"
			>
				{page.name}
			</h1>
		</div>

		<div>
			{page.location ? (
				<p class="text-base-content/70">
					{page.location}
				</p>
			) : null}
		</div>

		<p class="mb-4">
			{page.description ?? ""}
		</p>

		<!-- Render this in markdown -->
		{page.content ? (
			<div class="prose max-w-none mb-4" set:html={page.content}>
			</div>
		) : null}

		{page.location ?
			<Navigate
				location={page.location}
			/>
		: null}
	</div>
</Layout>
