---
import { getAppleMapsUrl, getMapsImage, getGoogleMapsUrl, getWazeUrl } from "@/lib/maps";

interface Props {
	location: string;
}

const wazeUrl = getWazeUrl(Astro.props.location);
const googleMapsUrl = getGoogleMapsUrl(Astro.props.location);
const appleMapsUrl = getAppleMapsUrl(Astro.props.location);
const mapsImage = await getMapsImage(Astro.props.location);
---

<div class="card bg-base-200 shadow">
	<div class="card-body">
		<h2 class="card-title">
			Navigate
		</h2>
		<div class="flex flex-row gap-2">
			<div class="max-h-96 aspect-video bg-base-300">
				<img
					src={mapsImage}
					alt=""
					style="width: 100%; height: 100%"
					class="object-cover rounded"
				/>
			</div>
			<div class="flex flex-col gap-2 flex-1">
				<p class="text-md grow-0 text-base-content">
					{Astro.props.location}
				</p>
				<a
					class="btn btn-neutral text-nowrap"
					href={wazeUrl}
					target="_blank"
					rel="noopener noreferrer"
				>
					<img src="https://cdn.simpleicons.org/waze/ffffff" alt="" class="w-4 h-4"/>
					Open in Waze
				</a>
				<a
					class="btn btn-neutral text-nowrap"
					href={googleMapsUrl}
					target="_blank"
					rel="noopener noreferrer"
				>
					<img src="https://cdn.simpleicons.org/googlemaps/ffffff" alt="" class="w-4 h-4"/>
					Open in Google Maps
				</a>
				<a
					class="btn btn-neutral text-nowrap"
					href={appleMapsUrl}
					target="_blank"
					rel="noopener noreferrer"
				>
					<img src="https://cdn.simpleicons.org/apple/ffffff" alt="" class="w-4 h-4"/>
					Open in Apple Maps
				</a>
			</div>
		</div>
	</div>
</div>
